---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
	background: $background;
  font: 18px/1.4 $helvetica;
  color: $dark-blue;
  font-weight: 300;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $helveticaNeue;
  color: inherit;

  line-height: 1.4;
  margin: 1em 0 15px;
  padding: 0;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $gray;
}

p {
  margin: 15px 0;
}

a {
  color: $pink;
  text-decoration: none;
	cursor: pointer;
  &:active {
    color: $blue;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}


.header {
  height: 60px;
  padding-top: 10px;


  @include tablet {
    position: fixed;
    overflow-y: scroll;
    top: 0;
    left: 0;
    bottom: 0;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 0;
    height: 100vh;
    background-color: $white;
  }
}

.logo {
  font-size: 2em;
  color: $white;
  display: inline-block;
  margin-right: 15px;

  @include tablet {
    display: block;
    margin-bottom: 15px;
    color: $black;
  }
}

nav {
  font-family: $helveticaNeue;
  font-size: 18px;
  display: inline-block;

  a {
    font-weight: 300;
    letter-spacing: 1px;
    height: 38px;
    margin-right: 15px;

    @include tablet {
      display: block;
    }
  }

}

.read-more {
  font-family: $georgia;
}

.page {
  max-width: 600px;
  color: $white;
}

.post {
  max-width: 800px;
  margin: 0 auto 30px;
  color: white;

  h1,
  .date {
    color: $blue;
    font-family: $georgia;
  }
}

#main {
  a:visited {
    color: $blue;
  }

  @include tablet {
    width: calc(100vw - 200px);
    float: right;
    padding: 0 20px;
  }
}
