---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
	background: $background;
  font: 18px/1.4 $helvetica;
  color: white;
  letter-spacing: 0.5px;
}

.container {
  padding: 0 10px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 15px 0;
}

a {
  color: $blue;
  text-decoration: none;
	cursor: pointer;
  &:active {
    color: $blue;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

.main {
  margin-top: 50px;
}

.logo {
  width: 80px;
  margin: 16px auto;
  display: block;
}

.about {
  margin-bottom: 40px;
}

.home-h1 {
  font-size: 20px;
  margin-bottom: 25px;

  @media screen and (min-width: 390px) {
    text-align: center;
  }
}

.home-h2 {
  font-size: 14px;
  max-width: 370px;
  margin: 0 auto;
}

.posts {
  max-width: 800px;
  margin: 60px auto;
}

.posts__headline {
  margin-bottom: 15px;
  padding-bottom: 5px;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  border-bottom: 1px solid white;
}

.post {
  max-width: 800px;
  margin: 0 auto 50px;

  p,
  ul {
    font-weight: 300;
  }

  ul li {
    padding-bottom: 10px;
  }
}

.post-preview__headline,
.post h1,
.post h2,
.post .date {
  font-family: Georgia;
}

.post h1 {
  font-size: 30px;
  letter-spacing: 1px;
  padding-bottom: 10px;
  color: $blue;
}

.post h2 {
  font-size: 24px;
  letter-spacing: 1px;
  margin-top: 40px;
}

.post .date {
  font-size: 16px;
  letter-spacing: 1px;
  margin-top: 30px;
}
