
//
// VARIABLES
//

// Colors
$blue: #008fd4;
$pink: #eab8bc;
// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;
$background: $black;
$darkBlue: $background;

$dark-blue: #030915;
$light-gray: #c7ccd6;
$yellow: #c0a364;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Tablet breakpoints
@mixin tablet {
  @media screen and (min-width: 700px) {
    @content;
  }
}
